@using Modelo.Entidades;
@model IEnumerable<Postulacion_Det>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DETALLE DE POSTULACIONES</h1>
<p>Se presenta a continuación la lista de los detalles de postulaciones registradas en el sistema SCP</p>

<div class="container">
    @if (TempData["mensaje"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData["mensaje"]
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">
                    &times;
                </span>
            </button>
        </div>
    }
    <div class="row">
        <div class="col-sm-6">
            <h3>Lista de detalles de postulaciones</h3>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-success d-block"
               asp-controller="PostulacionDet" asp-action="Create">
                Crear nuevo detalle de postulacion
            </a>
        </div>
    </div>

    <div class="row">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Postulacion</td>
                    <td>Calificacion</td>

                </tr>
            </thead>
            <tbody>
                @foreach (Postulacion_Det postulacionDet in Model)
                {
                    <tr>
                        <td>@postulacionDet.Postulacion_DetId</td>
                        <td>@postulacionDet.Postulacion</td>
                        <td>@postulacionDet.Calificacion</td>

                        <td>
                            <a class="btn btn-warning"
                               asp-controller="PostulacionDet" asp-action="Edit" asp-route-id="@postulacionDet.Postulacion_DetId">
                                Editar
                            </a>
                            <a class="btn btn-danger"
                               asp-controller="PostulacionDet" asp-action="Delete" asp-route-id="@postulacionDet.Postulacion_DetId">
                                Borrar
                            </a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>

    </div>
</div>



