@using Modelo.Entidades;
@model IEnumerable<Marca>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>MARCAS</h1>
<p>Se presenta a continuación la lista de las marcas registradas en el sistema SCP</p>

<div class="container">
    @if (TempData["mensaje"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData["mensaje"]
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">
                    &times;
                </span>
            </button>
        </div>
    }
    <div class="row">
        <div class="col-sm-6">
            <h3>Lista de marcas</h3>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-success d-block"
               asp-controller="Marca" asp-action="Create">
                Crear nueva marcas
            </a>
        </div>
    </div>

    <div class="row">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Nombre</td>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
                @foreach (Marca marca in Model)
                {
                    <tr>
                        <td>@marca.MarcaId</td>
                        <td>@marca.Nombre</td>
                        <td>
                            <a class="btn btn-warning"
                               asp-controller="Marca" asp-action="Edit" asp-route-id="@marca.MarcaId">
                                Editar
                            </a>
                            <a class="btn btn-danger"
                               asp-controller="Marca" asp-action="Delete" asp-route-id="@marca.MarcaId">
                                Borrar
                            </a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>

    </div>
</div>


