@using Modelo.Entidades;
@model IEnumerable<Postulacion>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>POSTULACIONES</h1>
<p>Se presenta a continuación la lista de las postulaciones registradas en el sistema SCP</p>

<div class="container">

    @if (TempData["mensaje"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData["mensaje"]
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">
                    &times;
                </span>
            </button>
        </div>
    }
    <div class="row">
        <div class="col-sm-6">
            <h3>Lista de postulaciones</h3>
        </div>
        
    </div>

    <div class="row">
        @if (Model.Count() > 0)
        {

       <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Fecha</td>
                    <td>Proveedor</td>
                    <td>Oferta #</td>
                    <td>Periodo</td>
                    <td>Estado</td>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
                @foreach (Postulacion postulacion in Model)
                {
                <tr>
                    <td>@postulacion.PostulacionId</td>
                    <td>@postulacion.Fecha.ToShortDateString()</td>
                    <td>@postulacion.Proveedor.Nombre</td>
                    <td>@postulacion.Oferta.OfertaId</td>
                    <td>@postulacion.Periodo.Nombre</td>
                    <td>@postulacion.Estado</td>
                    <td>

                        <a class="btn btn-warning"
                           asp-controller="Postulacion" asp-action="Validar" asp-route-id="@postulacion.PostulacionId">
                            Ver
                        </a>
                        
                    </td>
                </tr>
                }

            </tbody>
        </table>
        }
    </div>
</div>

